.jz2{width:141px;height:36px;}
.hyap{ width:100%; height:400px;background-color:#f4f4f4;}
.hyap-list{ height:400px; width:95%; list-style:none; padding-top:11px; margin:0 auto;}
.hyap-list li{ height:64px; padding:6px 0; width:100%; float:left; position: relative;}
.hyap-list .border{border-bottom:1px solid #dfdfdf;}
.hyap-list .border-none{border-bottom:none;}
.hyap-list li .hyap-sj{ width:68px; height:64px; position:absolute; left:0; top:6px;}
.hyap-list li .hyap-sj .sj-ri{ height:44px; width:68px; text-align:center; line-height:44px; background-color:#dfdfdf; color:#9a0201; font-size:24px;}
.hyap-list li .hyap-sj .sj-nian{ height:22px; width:68px; text-align:center; line-height:22px;background-color:#990002; color:#fff; font-size:14px;}
.hyap-list li .hyap-wenzi{ height:66px; position:absolute; left:78px; top:6px;}
.hyap-list li .hyap-wenzi .hyap-bt{ height:44px; line-height:22px;overflow:hidden; font-size:14px;color:#262425;}
.hyap-list li .hyap-wenzi .hyap-zy{ height:16px; line-height:16px;padding:4px 0 0  20px; background:url(../../ashoujiyidong/images/icon-sj2.gif) no-repeat 0 5px; color:#999999; overflow:hidden; font-size:12px;}
.hyap-list li .hyap-wenzi a{color:#262425;}
.hyap-list li .hyap-wenzi a:hover{ color:#bd0100;}
.neirongyn{color:#3a3a3a; margin:10px auto;padding:0px;min-height:200px;font-family:"Microsoft YaHei";overflow-x:auto;overflow-y:hidden;line-height:30px;font-size:14px;}
.neirongyn a{color:#3a3a3a;}
.neirongyn span{margin:0px; padding:0px;}
.neirongyn img{}
.neirongyn p{line-height:30px;text-indent:2em;}