.timestyle62117{ font-family: Arial; color: #b3b3b3; font-size: 9pt ;}
.leaderfont62117{ width:2%;}
.morestyle62117{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.newstitlestyle62117{ line-height: 32px; width: 90%; font-family: 宋体; height: 32px; color: #444444; font-size: 9pt; overflow: hidden; text-decoration: none ;}
.contentstyle62117{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.tdunderlinestyle62117{ background-image: url(/ashoujiyidong/images/xijiexiugai/bd2015.jpg); background-repeat: repeat-x; background-position-y: bottom ;}
.winstyle62117{ text-align: left; width: 100%; background: #f4f4f4 ;}
.timestyle62128{ font-family: Arial; color: #b3b3b3; font-size: 9pt ;}
.leaderfont62128{ width:2%;}
.morestyle62128{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.newstitlestyle62128{ line-height: 32px; width: 90%; font-family: 宋体; height: 32px; color: #444444; font-size: 9pt; overflow: hidden; text-decoration: none ;}
.contentstyle62128{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.tdunderlinestyle62128{ background-image: url(/ashoujiyidong/images/xijiexiugai/bd2015.jpg); background-repeat: repeat-x; background-position-y: bottom ;}
.winstyle62128{ text-align: left; width: 100%; background: #f4f4f4 ;}